<div class="sgae sgae-list-item">
    <div class="sgae-cover">
        <img src="https://img.freepik.com/fotos-gratis/foto-incrivel-do-vale-do-monumento-de-oljato-em-utah-eua_181624-45401.jpg?w=1380&t=st=1704304857~exp=1704305457~hmac=3e061c78ca479ad744835e69e6d7b5714bd1b90f94bb04cba3eac28fb1390f55"
            alt="" class="Temp">

    </div>

    <div class="sgae-title-container">
        <h2 class="sgae-title">Primeira Habilitação</h2>


    </div>

    <div class="sgae-content">
        <p>Na jornada de dominar a motocicleta, a paciência é seu combustível, a prática sua estrada. Cada curva, cada
            acelerada é um passo em direção à confiança e liberdade sobre duas rodas. Permita-se aprender, evoluir e
            sentir a adrenalina do domínio das pistas.</p>

    </div>
    <div class="sgae-meta-container">
        <div class="sgae-meta recipe-preparation">
            <h3 class="sgae-meta-title">Aulas</h3>
            <div class="sgae-meta-text">20</div>
        </div>
        <div class="sgae-meta recipe-servings">
            <h3 class="sgae-meta-title">Categoria</h3>
            <div class="sgae-meta-text">Moto</div>
        </div>
    </div>
    <footer class="sgae-footer">
        <a class="sgae-read-more button button-dark button-full-width" href="/recipes/3/">
            <i class="fas fa-eye"></i>
            <span>Inscreva-se</span>
        </a>
    </footer>

</div>