{% include "prismaApp\pages\head.html"%}

<body>
    {% include "prismaApp\pages\header.html"%}  

    <main class="main-content-container">
        <div class="main-content main-content-list container">
            {% include "prismaApp\partials\card_ph_ab.html"%}
            {% include "prismaApp\partials\card_ph_b.html"%}
            {% include "prismaApp\partials\card_ph_a.html"%}
            {% include "prismaApp\partials\adicao_a.html"%}
            {% include "prismaApp\partials\adicao_b.html"%}
            {% include "prismaApp\partials\adicao_d.html"%}
           

        </div>
    </main>
</body>

{% include "prismaApp\pages\footer.html"%}

</html>